/* Invisible Scrollbar - Still Scrollable */

/* Chrome, Safari and newer Edge */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* Internet Explorer and Old Edge */
* {
  -ms-overflow-style: none;
}
